<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form>
		<input>
		<button type='submit' class='addButton'>Add</button>
	</form>

	<br><br>


	{{#each myKey1}}
		<button type='submit' class='burgerButton' id={{this.id}}> {{this.burger_name}} </button>
	{{/each}}

	<hr>

	{{#each myKey2}}
		<button type='submit' class='burgerButton' id={{this.id}}> {{this.burger_name}} </button>
	{{/each}}



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script>

		$(".addButton").on('click',function(){
			var input = $("input").val()
			$.post('http://localhost:3000/showBurger',{userInput:input})
		})


		$(".burgerButton").on('click',function(){
			var id = this.id;
			$.post('http://localhost:3000/moveBurger',
				{userInput:id}
			)
		})

	</script>
</body>
</html>